/* styles/About.module.css */
.about {
    padding: 50px 20px;
    color: #fff;
    text-align: center;
    background-color: #121212;
  }
  
  .heading {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
  }
  